{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="container">
    	<div class="row">
    		<div class="span2"></div>
    		<div class="span8">
			      
				<h1>About TechTrends</h1>
				
				<h2>What can you do here?</h2>
				<p>
					You can search for topics and trends in the field of computer science.
					When you enter a keyword, TechTrends will present you a list of similar 
					articles (like blog posts) to your search. You can see on which date the
					articles were found	and TechTrends will visualize the amount of articles
					found over the time. You can also start digging on your own, by looking for 
					similar articles for our results and have a good and interesting time 
					reading them ;)
				</p>
				
				<h2>What are we doing?</h2>
				<p>
					We are doing a lot of different things. First of all, we parse Reddit and 
					Hackernews every couple of minutes to find new and interesting articles. In
					the next step we process these articles, filtering words and indexing them using
					the <a href="http://radimrehurek.com/gensim/">Gensim framework</a> by Radim Řehůřek.
					At the end, we provide a web API to access these documents and an UI on top
					of this API to present them to the user.
				</p>
				
				<h2>Who made this page?</h2>
				<p>
					TechTrends is a student project, developed as part of the course <i>Programming Intelligent 
					Applications</i> of <a href="http://www.hdm-stuttgart.de/~maucher">Prof. Dr.-Ing. 
					Johannes Maucher</a> at the <a href="http://www.hdm-stuttgart.de/">HdM Stuttgart</a> 
					in the master program <a href="http://www.mi.hdm-stuttgart.de/csm">Computer Science 
					and Media</a>. See the <a href="contact">contact page</a> if you want to get in touch with us.
				</p>
				
				<h2>Where can I get the code?</h2>
				<p>
					You can find the source code on <a href="https://bitbucket.org/RaBrand/techtrends">
					https://bitbucket.org/RaBrand/techtrends</a>. Feel free to fork it, leave us a comment
					or write us your feedback. Take a look in the wiki for documentation. Enjoy!
				</p>
				
				<h2>What can you do for us?</h2>
				<p>
				
					Well, if you like it, we would really appreciate if you share it and give us some
					feedback to what we have done (do this also if you don't like it ;). Thanks!
					<br/>
					<br/>
					<center>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_reddit_large' displayText='Reddit'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_email_large' displayText='Email'></span>
					</center>
				</p>
			
			</div>
			<div class="span2"></div>
		</div>
	</div>
	
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "9fe74501-d102-45f8-adb1-4537e8279b35", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

{% endblock %}


