{% extends "base.html" %}

{% block title %}API{% endblock %}

{% block content %}

		<div class="span2" >
		    <ul id="api-nav" class="nav nav-list affix">
		    	<li class="active"><a href="#intro">Introduction</a></li>
				<li><a href="#response">JSON response</a></li>
				<li><a href="#search">Search-API</a></li>
				<li><a href="#document">Document-API</a></li>
				<li><a href="#example">Example-API</a></li>
				<li><a href="#topics">Topics-API</a></li>
				<li><a href="#list">List-API</a></li>
				<li><a href="#datatable">DataTable-API</a></li>
		    </ul>
		</div>

   		<div class="row" id="intro">
    		
    		<div class="span8">
	
				<h1>API</h1>
				
				<div class="row">
					<div class="span8">
					
						<p>
						This document describes the REST-API of TechTrends. The REST-API enables you to request all data
						that we collected during the last months in several ways. All visualizations on TechTrends are
						based on this API as well.
						</p>
					
					</div>
					
				</div>

				

				<div class="row" id="response">
				
					<div class="span8">
						
						<hr>
						
						<h2>JSON response</h2>
				
						<p>All APIs described below will return a JSON response. This response will look almost equal for
						every API request. Although, we think our JSON format is pretty self-describing, here are some thoughts
						for every element in response.</p>
				
						<h3>Example</h3>
						<div class="row">
							<div class="span8">
							
							<blockquote>
								<a href="/search?query=facebook">/search?query=facebook</a>
							</blockquote>
							
							<blockquote>
<pre>{
  "id": 0, 
  "title": "facebook", 
  "last": 1577833200.0, 
  "children": [
    {
      "last": 1366122601.762106, 
      "populartiy": 9.17199135339737, 
      "title": "Facebook Home ads show Facebook at its worst", 
      "url": "https://medium.com/i-m-h-o/265cc8a17432", 
      "similarity": 0.8483082056045532, 
      "source": "5555031", 
      "id": 1740, 
      "first": 1366071301.978271
    }, 
    {
      "last": 1365970501.494709, 
      "populartiy": 1.5799863343238831, 
      "title": "Facebook Home And The Promise Of Android", 
      "url": "http://techcrunch.com/2013/04/14/facebook-home-and-the-promise-of-android/", 
      "similarity": 0.8388177156448364, 
      "source": "5547240", 
      "id": 1569, 
      "first": 1365957001.836351
    }
  ], 
  "first": 1356994800.0
}</pre>
							</blockquote>
	
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
							<thead>
								<td>Parameter</td>
								<td>Description</td>
							</thead>
							<tr>
								<td><code>id</code></td>
								<td>An integer value giving our internal ID for the document. You can search documents
								similar to this ID using the <a href="#document">Document-API</a>. For convenience, the
								root node which represents the search query itself has a dummy ID (<code>0</code>).</td>
							</tr>
							<tr>
								<td><code>title</code></td>
								<td>The title of the document as we crawled it from Hackernews/Reddit. For convenience, the
								root node which represents the search query itself has a title (the query itself).</td>
							</tr>
							<tr>
								<td><code>first</code></td>
								<td>The time stamp when we found the document for the first time on Hackernews/Reddit.
								For convenience, the root node which represents the search query itself has a first 
								time stamp, too (the given start date for the search).</td>
							</tr>
							<tr>
								<td><code>last</code></td>
								<td>The time stamp when we found the document for the last time on Hackernews/Reddit.
								For convenience, the root node which represents the search query itself has a last 
								time stamp, too (the given start date for the search).</td>
							</tr>
							<tr>
								<td><code>children</code></td>
								<td>A list of articles (similar to the search query).</td>
							</tr>
							<tr>
								<td><code>popularity</code></td>
								<td>A value giving the popularity of the article. It is calculated using the votes,
                                    comments and time stamps of the article. Each value is divided by its mean and variance. We then normalize the values with an 98 Quantil and restrict the maximum value to 1. After that the three resulting values are used to build a sum which will then be divided by 3 and multiplied with 100, so that the end values are in the range of 0 - 100, where 0 describes the least popular link. A histogram of the distribution of the popularity values is located <a href="/static/img/popularity.png">here</a>.</td>
							</tr>
							<tr>
								<td><code>url</code></td>
								<td>The URL to the article.</td>
							</tr>
							<tr>
								<td><code>similarity</code></td>
								<td>A float value between 0 and 1 giving the similarity of the article to the search-
								query. A small value indicates a weak similarity between the articles; a high value
								indicates a strong similarity between the articles. Note that you can specify the 
								minimal similarity in the search query. It will be <code>0.7</code> by default, so
								all values will be greater than <code>0.7</code>.</td>
							</tr>
							<tr>
								<td><code>source</code></td>
								<td>An ID, either from Reddit or from Hackernews. You can use this ID to find the original source
								of the  link (a pure number stands for Hackernews, a combination of numbers and characters
							    stands for Reddit). Note that these ids are from Hackernews/Reddit. You can't use them to search with 
								TechTrends, but you can use them on Hackernews/Reddit.</td>
							</tr>
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>

				<div class="row" id="search">
				
					<div class="span8">
						
						<hr>
						
						<h2>Search-API</h2>
				
						<p>This API enables you to search for similar documents for a
							given key-word. It returns a JSON object containing all articles that
							are similar to your key-word. It takes several optional parameters.</p>
				
						<h3>Example</h3>
						<div class="row">
							<div class="span12">
							<blockquote>
								<a href="/search?query=facebook">/search?query=facebook</a>
							</blockquote>
							<blockquote>
								<a href="/search?query=facebook+home&min=0.7&from=2013-03-01&to=2013-04-30">/search?query=facebook+home&min=0.7&from=2013-03-01&to=2013-04-30</a>
							</blockquote>
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
							<thead>
								<td>Parameter</td>
								<td>Default</td>
								<td>Description</td>
							</thead>
							<tr>
								<td><code>query</code></td>
								<td><code>""</code></td>
								<td>The actual search query. This can be a single word or a list of
								words separated by "+".</td>
							</tr>
							<tr>
								<td><code>from</code></td>
								<td><code>2013-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the minimum date to search from.
									E.g. if the from-parameter is "2013-03-01", only articles found
									after March 1st, 2013 will be searched.</td>
							</tr>
							<tr>
								<td><code>to</code></td>
								<td><code>2020-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the maximum date to search to.
									E.g. if the to-parameter is "2013-03-01", only articles found
									before March 1st, 2013 will be searched.</td>
							</tr>
							<tr>
								<td><code>min</code></td>
								<td><code>0.7</code></td>
								<td>A floating-point number from 0.0 to 1.0 (e.g. 0.5) giving
									the minimal similarity score for the results. If min is small (e.g.
									0.1), a lot of articles will be found. If min is big (e.g. 0.9)
									only a few (but very similar) articles will be found.</td>
							</tr>
							<tr>
								<td><code>pre</code></td>
								<td><code>True</code></td>
								<td>A boolean (True or False) that says if the search word should be pre-processed or not.
								All documents stored in our database are pre-processed. That means we removed unnecessary 
								words (so called stop-words like "this" or "the"), lemmatized the words and so on. If this
								option is True, a similar pre-processing will be applied to the search query, too.</td>
							</tr>
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>

				<div class="row" id="document">
				
					<div class="span8">
				
						<hr>
				
						<h2>Document-API</h2>
				
						<p>This API enables you to search for similar documents for a
							given document ID. It returns a JSON object containing all articles
							that are similar to the specified document. It takes several optional
							parameters.</p>
				
						<h3>Example</h3>
				
						<div class="row">
							<div class="span12">
							<blockquote>
								<a href="/similar?id=77">/similar?id=77</a>
							</blockquote>
							<blockquote>
								<a href="/similar?id=562&min=0.7&from=2013-03-01&to=2013-04-30">/similar?id=562&min=0.7&from=2013-03-01&to=2013-04-30</a>
							</blockquote>
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
				
							<thead>
								<td>Parameter</td>
								<td>Default</td>
								<td>Description</td>
							</thead>
				
							<tr>
								<td><code>id</code></td>
								<td><code>0</code></td>
								<td>The internal numeric ID of the document to which similar documents
								should be searched.</td>
							</tr>
				
							<tr>
								<td><code>from</code></td>
								<td><code>2013-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the minimum date to search from.
									E.g. if the from-parameter is "2013-03-01", only articles found
									after March 1st, 2013 will be searched.</td>
							</tr>
				
							<tr>
								<td><code>to</code></td>
								<td><code>2020-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the maximum date to search to.
									E.g. if the to-parameter is "2013-03-01", only articles found
									before March 1st, 2013 will be searched.</td>
							</tr>
				
							<tr>
								<td><code>min</code></td>
								<td><code>0.7</code></td>
								<td>A floating-point number from 0.0 to 1.0 (e.g. 0.5) giving
									the minimal similarity score for the results. If min is small (e.g.
									0.1), a lot of articles will be found. If min is big (e.g. 0.9)
									only a few (but very similar) articles will be found.</td>
							</tr>
				
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>
									
				<div class="row" id="example">
				
					<div class="span8">
						
						<hr>
						
						<h2>Example-API</h2>
				
						<p>This API enables you to search for similar documents for a
							given link. It returns a JSON object containing all articles that
							are similar to your link. It takes several optional parameters.</p>
				
						<h3>Example</h3>
						<div class="row">
							<div class="span12">
							<blockquote>
								<a href="/example?link=http://www.lastwordonnothing.com/2013/04/22/dumped-by-google/">/example?link=http://www.lastwordonnothing.com/2013/04/22/dumped-by-google/</a>
							</blockquote>
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
							<thead>
								<td>Parameter</td>
								<td>Default</td>
								<td>Description</td>
							</thead>
							<tr>
								<td><code>link</code></td>
								<td><code>""</code></td>
								<td>A link to a web-page that should be used as an example. The web-page will be parsed and pre-processed.
								Afterwards similar articles to the found words will be searched.</td>
							</tr>
							<tr>
								<td><code>from</code></td>
								<td><code>2013-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the minimum date to search from.
									E.g. if the from-parameter is "2013-03-01", only articles found
									after March 1st, 2013 will be searched.</td>
							</tr>
							<tr>
								<td><code>to</code></td>
								<td><code>2020-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the maximum date to search to.
									E.g. if the to-parameter is "2013-03-01", only articles found
									before March 1st, 2013 will be searched.</td>
							</tr>
							<tr>
								<td><code>min</code></td>
								<td><code>0.7</code></td>
								<td>A floating-point number from 0.0 to 1.0 (e.g. 0.5) giving
									the minimal similarity score for the results. If min is small (e.g.
									0.1), a lot of articles will be found. If min is big (e.g. 0.9)
									only a few (but very similar) articles will be found.</td>
							</tr>
							<tr>
								<td><code>top</code></td>
								<td><code>3</code></td>
								<td>An integer value greater than 0. It specifies the number of words that should be used
								for the query. E.g. is top is 3, only the 3 most frequent words in the article will be used.</td>
							</tr>
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>
											
				<div class="row" id="topics">
				
					<div class="span8">
				
						<hr>
				
						<h2>Topics-API</h2>
				
						<p>This API enables you to list the current topics of the
							similarity server. It returns a JSON object containing a list of the
							current top topics of the similarity server. The topics are a list of
							words combined with a floating-point number giving their importance
							for the topic. It takes several optional parameters.</p>
				
						<h3>Example</h3>
				
						<div class="row">
							<div class="span12">
								<blockquote>
									<a href="/trending">/trending</a>
								</blockquote>
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
				
							<thead>
								<td>Parameter</td>
								<td>Default</td>
								<td>Description</td>
							</thead>
				
							<tr>
								<td><code>limit</code></td>
								<td><code>10</code></td>
								<td>An integer (0 or bigger) giving the maximum number of
									returned topics.</td>
							</tr>
							
							<tr>
								<td><code>words</code></td>
								<td><code>10</code></td>
								<td>An integer (0 or bigger) giving the maximum number of
									words that should be returned for each topic. Theoretically, a
									topic contains all words of the whole corpus. But only a few words
									are really important for the topic. To get an idea what the topic
									looks like, 5 to 10 words should be enough most of the time.</td>
							</tr>
											
							<tr>
								<td><code>min</code></td>
								<td><code>0.7</code></td>
								<td>A floating-point number from 0.0 to 1.0 (e.g. 0.5) giving
									the minimal similarity score for the results. If min is small (e.g.
									0.1), a lot of articles will be found. If min is big (e.g. 0.9)
									only a few (but very similar) articles will be found.</td>
							</tr>
	
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>
				
				<div class="row" id="list">
				
					<div class="span8">
				
						<hr>
				
						<h2>List-API</h2>
				
						<p>This API enables you to list documents found by the TechTrends
							scrawler. It returns a JSON object containing a list of all
							documents. It takes several optional parameters.</p>
				
						<h3>Example</h3>
				
						<div class="row">
							<div class="span12">
								<blockquote>
									<a href="/list">/list</a>
								</blockquote>
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
				
							<thead>
								<td>Parameter</td>
								<td>Default</td>
								<td>Description</td>
							</thead>
				
							<tr>
								<td><code>from</code></td>
								<td><code>2013-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the minimum date to search from.
									E.g. if the from-parameter is "2013-03-01", only articles found
									after March 1st, 2013 will be searched.</td>
							</tr>
				
							<tr>
								<td><code>to</code></td>
								<td><code>2020-01-01</code></td>
								<td>A date (YYYY-MM-DD) giving the maximum date to search to.
									E.g. if the to-parameter is "2013-03-01", only articles found
									before March 1st, 2013 will be searched.</td>
							</tr>
				
							<tr>
								<td><code>limit</code></td>
								<td><code>200</code></td>
								<td>An integer (0 or bigger) giving the maximum number of
									returned documents.</td>
							</tr>
				
							<tr>
								<td><code>offset</code></td>
								<td><code>0</code></td>
								<td>An integer (0 or bigger) giving the offset to select entries. This value
								can be used for paginating and browsing trough the database.</td>
							</tr>
				
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>
				
				
				<div class="row" id="datatable">
				
					<div class="span8">
				
						<hr>
				
						<h2>Datatable-API</h2>
				
						<p>This API is meant to work with the <a href="http://www.datatables.net/">DataTables JavaScript library</a>.
						It makes it very easy to access and visualize our link archive as HTML tables. For more information see
						<a href="http://www.datatables.net/release-datatables/examples/server_side/server_side.html">here</a>.</p>
				
						<h3>Example</h3>
				
						<div class="row">
							<div class="span12">
								<blockquote>
									<a href="/datatable?sEcho=0&iDisplayStart=0&iDisplayLength=10">/datatable?sEcho=0&iDisplayStart=0&iDisplayLength=10</a>
								</blockquote>
							</div>
						</div>
				
						<h3>Parameters</h3>
				
						<table class="table table-hover">
				
							<thead>
								<td>Parameter</td>
								<td>Default</td>
								<td>Description</td>
							</thead>
				
							<tr>
								<td><code>sEcho</code></td>
								<td><code>0</code></td>
								<td>An integer greater than zero giving the page to view.</td>
							</tr>
							
											
							<tr>
								<td><code>iDisplayStart</code></td>
								<td><code>0</code></td>
								<td>An integer greater than zero giving the start element.</td>
							</tr>
							
							<tr>
								<td><code>iDisplayLength</code></td>
								<td><code>10</code></td>
								<td>An integer greater than zero giving the number of elements to get.</td>
							</tr>
	
						</table>
						
						<h3>Exception</h3>
						
						<p>In case of an exception, a JSON containing a human readable message indicating
						where the exception was thrown will be returned. It will contain the parameter that
						was used wrong as well as a hint how to use it correctly.</p>
						
					</div>
				</div>
				

			</div>
			<div class="span2"></div>
		</div>
	

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
		/**
		 * Initialize the api sidebar.
		 */
		(function() {
			
			$('body').scrollspy();
			
		})();
	</script>
	
{% endblock %}
