{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}

    <div class="container">
    	<div class="row">
    	
    		<div class="span2"></div>
    		
    		<div class="span8">
	
				<h1>Archive</h1>
				
				<p>Browse through our archive of articles, blog posts and links. We are collecting these links
				since early March 2013 from <a href="https://news.ycombinator.com/">Hackernews</a> and 
				<a href="http://www.reddit.com/r/programming/">Reddit</a>. Both of them are a great source 
				for interesting material as well as an indicator for new and upcoming trends. Check our <a href="/api">
				API</a> for details how to access the archive as JSON.</p>
	
				<hr>

			</div>
			<div class="span2"></div>
			
		</div>
		<div class="row">
			
			<div class="span12">

			<table id="archive-table">
			
				<thead>
					<tr>
						<th id="archive-column-id">ID</th>
						<th id="archive-column-title">Title</th>
						<th id="archive-column-link">Source</th>
						<th id="archive-column-link">Found first</th>
						<th id="archive-column-link">Found last</th>
					</tr>
				</thead>
			
			</table>

    		</div>
		</div>
	</div>
	
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "9fe74501-d102-45f8-adb1-4537e8279b35", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

{% endblock %}

{% block scripts %}

	<script>
	
	$(document).ready(function() {

	    $('#archive-table').dataTable({

	    	"bLengthChange": false,
	        "bProcessing": true,
	        "bServerSide": true,
	        "bFilter": false,
        	"bSort": false,
        	 "sPaginationType": "full_numbers", 
	        "sAjaxSource": "/datatable",
	        "aoColumns": [
	       		{ "mData": function ( data, type, row ) { return "<a href='/#/similar?id=" + data['id'] + "'>" + data['id'] + "</a>"; } },
	            { "mData": function ( data, type, row ) { return "<a href='" + data['url'] + "'>" + data['title'] + "</a>"; } },
	            { "mData": function ( data, type, row ) { return techtrends.getSourceLink( data['source'] ); } },
	            { "mData": function ( data, type, row ) { return new Date( data['first'] * 1000 ); } },
	          	{ "mData": function ( data, type, row ) { return new Date( data['last'] * 1000 ); } }
	        ],
	        "aoColumnDefs": [
 				{ "sClass": "center", "aTargets": [ 1 ] },
	            { "sClass": "center", "aTargets": [ 2 ] },
	            { "sClass": "center", "aTargets": [ 3 ] },
	            { "sClass": "center", "aTargets": [ 4 ] }
	        ]
	    });
	});
	
	</script>

{% endblock %}
