<!DOCTYPE html>

<html lang="en">

  <head>
  
    <meta charset="utf-8">
    
    <title>{% block title %}{% endblock %} - TechTrends</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="TRaThdvsSpoG0MnSEqlRLjaPJCfUZ9eCVjAuGjqQYRc" />

	<!-- 
		Add all CSS combined together
	-->
    {% assets "css_all" %}
		 <link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/favicon.png">
  </head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
        		<div class="container">
          			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
          			</button>
          			<a class="brand" href="/">TechTrends</a>
          			<div class="nav-collapse collapse">
            			<ul class="nav pull-right">
            				<li><a href="/archive">Archive</a></li>
							<li><a href="/topics">Topics</a></li>
							<li><a href="/api">API</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/contact">Contact</a></li>
            			</ul>
          			</div><!--/.nav-collapse -->
        		</div>
      		</div>
    	</div>

		<div class="container">
		
			{% block content %}{% endblock %}
		
		</div>

		<!-- 
			The d3.js library creates a syntax error on minification,
			so it's left out and added separately. I tested both, the normal
			and the min version of the current release. Both result in the
			same error.
		-->
		<script src="static/js/d3.v3.min.js"></script>

		<!-- 
			Add all JavaScripts combined together
		-->
		{% assets "js_all" %}
		    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-41348608-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
		
		{% block scripts %}{% endblock %}
                
	</body>
</html>