{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

    <div class="container">
    	<div class="row">
    		<div class="span2"></div>
    		<div class="span8">
			      
				<h1>Contact</h1>
			   
				<p>
					This web application was developed as part of the course <i>Programming Intelligent 
					Applications</i> of <a href="http://www.hdm-stuttgart.de/~maucher">Prof. Dr.-Ing. 
					Johannes Maucher</a> at the <a href="http://www.hdm-stuttgart.de/">HdM Stuttgart</a> 
					in the master program <a href="http://www.mi.hdm-stuttgart.de/csm">Computer Science 
					and Media</a>.
				</p>
				<p>
					You can find the source code on <a href="https://bitbucket.org/RaBrand/techtrends">
					https://bitbucket.org/RaBrand/techtrends</a>. Feel free to fork it, leave us a comment
					or write us your feedback. Enjoy!
				</p>
				
				<br><br>
				<div class="row">
					<div class="span2">
						<img src="static/img/contact/thomas.jpg" width="50%">
					</div>
			      
			        <div class="span6">
						<address>
						  <strong>Thomas Uhrig</strong><br>
						  Computer Science and Media, Master<br>
						  HdM Stuttgart<br>
						  <a href="http://www.tuhrig.de">www.tuhrig.de</a><br>
						  <a href="mailto:tuhrig.de@gmail.com">tuhrig.de@gmail.com</a>
						</address>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="span2">
						<img src="static/img/contact/raphael.jpg" width="50%">
					</div>
			      
			        <div class="span6">
						<address>
						  <strong>Raphael Brand</strong><br>
						  Computer Science and Media, Master<br>
						  HdM Stuttgart<br>
						  <a href="https://github.com/pjuhri">https://github.com/pjuhri</a><br>
						  <a href="mailto:rb057@hdm-stuttgart.de">rb057@hdm-stuttgart.de</a>
						</address>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="span2">
						<img src="static/img/contact/hanno.png" width="50%">
					</div>
			      
			        <div class="span6">
						<address>
						  <strong>Hannes Pernpeintner</strong><br>
						  Computer Science and Media, Master<br>
						  HdM Stuttgart<br>
						  <a href="https://bitbucket.org/hannespernpeintner">https://bitbucket.org/hannespernpeintner</a><br>
						  <a href="mailto:h.pernpeintner@gmail.com">h.pernpeintner@gmail.com</a>
						</address>
					</div>
				</div>

			</div>
			<div class="span2"></div>
		</div>
	</div> <!-- /container -->

{% endblock %}
