{% extends "base.html" %}

{% block title %}Topics{% endblock %}

{% block content %}

    <div class="container">
   		<div class="row">
    		<div class="span2"></div>
    		<div class="span8">
    	
    			<h1 id="headline-searchword">Most significant topics</h1>

		    	<div class="row">
		            <div class="span8">
		            	<p>
		            		This page shows the 10 most significant topics at the moment. A topic is mainly a
		            		collection of weighted words. Each word has a factor (between 0 and 1) which says 
		            		how important the word is for topic. For example, if a word like "Python" has the
		            		factor 0.999, a document containing the word "Python" will probably be in this 
		            		particular topic. Words can also have a negative factor, which tells you that a 
		            		document containing this word will explicitly <i>not</i> be in the particular topic.
		            	</p>
		            	<p>
		            		Positive factors are marked blue in the figures below, whereas negative factors are
		            		marked red. The length of the bar illustrates you the size of the factor between 0 and 1.
		            	</p>
		            	<p>
		            		Interpreting the topics can be both easy and confusing. Some topics are very clear
		            		and easy to interpret. For example, at the time we made this page there was a topic
		            		made up of the words <i>Bitcoin</i>, <i>currency</i>, <i>money</i>, etc. Here,
		            		it is pretty clear that it is a financial topic about Bitcoins. However, the very next
		            		topic contained the words <i>Google</i> and <i>Facebook</i> and explicitly not (negative,
		            		red factor) the word <i>Bitcoin</i>. Topics like this can be very confusing since they
		            		mainly reflect the mathematical nature of the underlying model. They are not really 
		            		meant to be interpreted by a human. But feel free to try it ;)
		              	</p>
		    		</div>
		    	</div>
		    	
		    	<hr>
		    	<br>
		    	
	            
	            <div class="row">
		            <div class="span8">
	            	<div class="accordion" id="topic-accordion">
	            	
	                {% for topic in topics %}
	                    
	                    	<div class="accordion-group">
							    <div class="accordion-heading">
							      <a class="accordion-toggle topic-main-word collapsed" name="{{ loop.index-1 }}" data-toggle="collapse" data-parent="#topic-accordion-{{ loop.index }}" href="#collapse{{ loop.index }}">
							        &#9660; Topic {{ loop.index }}: {{ main[ loop.index-1 ] }}
							      </a>
							    </div>
							    <div id="collapse{{ loop.index }}" class="accordion-body collapse">
							      <div class="accordion-inner">
							      
							      	<center><br><a href="/#/search?query={{ main[ loop.index-1 ] }}&min=0.2">Search for it!</a></center>
							      	<hr>
							      
							      	<table width="100%" style="font-size: 12px;">
							        {% for tuple in topic %}
							        	<tr>
							        		<td width="20%">{{ tuple[1] }}</td>
							        		
								        	<td>
					                            <div class="progress topic-value">
					                                {% if tuple[0] > 0 %}

					                                    <div class="bar" style="width: {{ tuple[0] * 100 }}%"></div>
					                                {% else %}
					                                    <div class="bar bar-danger" style="width: {{ tuple[0] * -100 }}%"></div>
					                                {% endif %}
					                            </div>
				                            </td>
			                           
							        		<td width="20%" style="text-align: right;">{{ tuple[0] }}%</td>
							        
			                            </tr>
			                        {% endfor %}
			                        </table>
							      </div>
							    </div>
							  </div>
	                	{% endfor %}
	                	</div>
	            	
				</div>
		   </div>
		</div>
	</div> <!-- /container -->
	
{% endblock %}

{% block scripts %}



{% endblock %}
